 *{
    margin-left: 20px;
    margin-right: 20px;


}
nav{
    /* padding: 8px; */
    background-color: black;
    color: white;
    display: flex;
    /* margin: 70px; */
    justify-content: space-between;
}
.navi h1{
    font-size: xx-large;
}
.home{
    padding: 35px;
}
.home a{
    margin: 10px;
    color: white;
    font-size: x-large;
    text-decoration: none;
}
.main{
   
    justify-content: center;
    display: flex;

}
.heading{
    width: 70%;
    /* border: 2px solid black; */
    margin-top: 30px;
}
form{
    border: 2px solid black;
    /* width: 50%; */
    margin-top: 20px;
    /* padding: 15px; */
}
.he{
    text-align: center;
}
input{
    width: 94%;
    height: 40px;
    margin-top: 8px;
    /* margin-bottom: 8px; */
}
button{
    margin-bottom: 8px;
}
#error-user{
    height: 22px;
    background-color: coral;
    margin-top: 5px;
    display: none;
    border: 2px solid black;
    border-radius: 5px;

}
#error-pass{
    height: 22px;
    color: brown;
    background-color: coral;
    margin-top: 5px;
    display: none;
    border: 2px solid black;
    border-radius: 5px;

} 